/* Reset */
body, html, div, blockquote, img, label, p, pre, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dialog, dl, dt, dd, form, a, fieldset, input, th, td, header, footer, article, section, nav, menu, main, hgroup, aside { border: 0; margin: 0; outline: 0; padding: 0; list-style-type: none; }

:focus { outline: 0; }

a:link, a:active, a:hover, a:visited { text-decoration: none; }

/* Native Elements */
img { display: block; margin: 0; padding: 0; width: 100%; }

/* HTML5 */
article, aside, content, details, figcaption, figure, footer, header, hgroup, main, nav, section, site { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

@font-face { font-family: 'Gotham'; font-weight: 200; font-style: normal; src: url("../fonts/GothamSSm-XLight.otf") format("opentype"); }
@font-face { font-family: 'Gotham'; font-weight: 200; font-style: italic; src: url("../fonts/GothamSSm-XLightItalic.otf") format("opentype"); }
@font-face { font-family: 'Gotham'; font-weight: 300; font-style: normal; src: url("../fonts/GothamSSm-Light.otf") format("opentype"); }
@font-face { font-family: 'Gotham'; font-weight: 300; font-style: italic; src: url("../fonts/GothamSSm-LightItalic.otf") format("opentype"); }
@font-face { font-family: 'Gotham'; font-weight: 400; font-style: normal; src: url("../fonts/GothamSSm-Book.otf") format("opentype"); }
@font-face { font-family: 'Gotham'; font-weight: 400; font-style: italic; src: url("../fonts/GothamSSm-BookItalic.otf") format("opentype"); }
@font-face { font-family: 'Gotham'; font-weight: 500; font-style: normal; src: url("../fonts/GothamSSm-Medium.otf") format("opentype"); }
@font-face { font-family: 'Gotham'; font-weight: 500; font-style: italic; src: url("../fonts/GothamSSm-MediumItalic.otf") format("opentype"); }
@font-face { font-family: 'Gotham'; font-weight: 700; font-style: normal; src: url("../fonts/GothamSSm-Bold.otf") format("opentype"); }
@font-face { font-family: 'Gotham'; font-weight: 700; font-style: italic; src: url("../fonts/GothamSSm-BoldItalic.otf") format("opentype"); }
/* Global */
html, body { font-family: "Gotham","Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-size: 100%; font-smoothing: subpixel-antialiased; height: 100%; hyphens: none; text-size-adjust: 100%; text-rendering: optimizeLegibility; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { html, body { font-smoothing: antialiased; } }

::-moz-selection { background: rgba(19, 123, 194, 0.25); }

::selection { background: rgba(19, 123, 194, 0.25); }
